.jfx-button .text{
-fx-fill:white;
}
.jfx-text-area .scroll-pane:fitToWidth:fitToHeight .viewport .content .text{
-fx-fill:white;
-fx-text-alignment: center;
-fx-text-weight: bold;
-fx-translate-y	: 133px;

}
.jfx-text-area .scroll-pane:fitToWidth:fitToHeight .viewport .content{
-fx-background-color: white;
}
.label{
-fx-text-fill:white;
}
.value_label{
    -fx-text-fill:#6b6363;
    -fx-text-weight: bold;
}